@use '../../stylesheets/abstracts/colors' as *;

.projects-base {
  padding: 1em;
  h2 {
    font-size: 3em;
  }
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-content {
  background: $brand-blue
}

.carousel {
  width: 24rem;
}

@media (max-width: 768px) {
 
.carousel {
  width: 20rem;
} 
}

@media (max-width: 1024px) {
  .projects-container{
    flex-direction: column;
  }
}