.skills-container {
  display: flex;
  flex-direction: column;
  //padding-left: 30px;
  
  flex-wrap: wrap;

  h2 {
    font-size: 3em;
    padding-left: 20px;
  }
}

.skill-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 30px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  background: #3c4a8e;
  max-height: 350px; 
  overflow: hidden;
  word-wrap: break-word;
  padding-bottom: 5px;
  border-radius: 2em;
  p {
    padding: 5px 15px;
  }
}



.skill-logo {
  font-size: 3em;
  padding-top: 30px;
  padding-bottom: 15px;
}

.skill-label {
  font-size: 1.5em;
  font-weight: 600;
}

.skill-item {
  padding-left: 15px;
}


//mobile screens
@media (max-width: 740px) {
  .skill-card-container{
    justify-content: center;
  }
}