@use '../../stylesheets/abstracts/_colors' as *; 

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  span {
    color: #542c80
  }
  span:hover {
    text-decoration: underline;
  }
}