@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

body {
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.dark {

  .background {
    background-color: $black-800
  }

  h1, h2, p, li > a {
    color: $white-900
  }
}


.light {

  .background {
    background-color: $white-900
  }

  h1, h2, p, li > a {
    color: $black-800
  }
}

// Dimensions
.width-12 {
  width: 3rem;
}

.height-12 {
  height: 3rem;
}

@media (min-width: 374px) {
  .xs {
    @include pad-x(.75rem);
    @include pad-y(.375rem);
  }
}