@use '../abstracts/colors' as *;

body {
  padding: 0;
  margin: 0;
}

.dark {

  .background {
    background-color: $black-800
  }

  h1, h2, p, li > a {
    color: $white-900
  }
}


.light {

  .background {
    background-color: $white-900
  }

  h1, h2, p, li > a {
    color: $black-800
  }
}