@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

body {
  padding: 0;
  margin: 0;
  line-height: 30px;
}

.dark {

  .background {
    background-color: #23272f
  }

  h1, h2, p, li > a {
    color: $white-900
  }
}


.light {

  .background {
    background-color: $white-900
  }

  h1, h2, p, li > a {
    color: $black-800
  }
}

// Dimensions
.width-12 {
  width: 3rem;
}

.height-12 {
  height: 3rem;
}

@media (min-width: 374px) {
  .xs {
    @include pad-x(.75rem);
    @include pad-y(.375rem);
  }
}

.rounded-full {
  border-radius: 9999px;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

:is(.light .hover\:bg-primary):hover {
    background-color: rgba(35,39,47,.05);
    //background-color: red;
}

:is(.dark .hover\:bg-primary-dark):hover {
  background-color: rgba(246,247,249,.05);
  //background-color: red;
}