@mixin pad-y($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin pad-x($size) {
  padding-right: $size;
  padding-left: $size;
}

@mixin header-buttons {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 100%;
  text-transform: none;
}