.header-container {
  border-bottom: 1px solid black;
}

.nav-link {

  &:hover {
    //background-color: rgba(35,39,47,.05);
    border-radius: 9999px;
  }
}

li > button {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  cursor: pointer;
  display: flex;
  font-size: 100%;
  text-transform: none;
}