@use '../../stylesheets/abstracts/mixins' as *;

.header-container {
  border-bottom: 1px solid black;
}

section > button {
  @include header-buttons()
}

.nav-link {

  &:hover {
    //background-color: rgba(35,39,47,.05);
    border-radius: 9999px;
  }
}

li > button {
  @include header-buttons()
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
}