.header-container {
  border-bottom: 1px solid black;
}

.nav-link {
  // a {
  //  &:hover {
  //   background-color: rgba(35,39,47,.05);
  //   border-radius: 9999px;
  //  }
  // }

  &:hover {
    background-color: rgba(35,39,47,.05);
    border-radius: 9999px;
  }
}