.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 1em;
    

    a {
      text-decoration: none;
    }
  }
}