.dark::-webkit-scrollbar {
  width: 14px; 
}

.dark::-webkit-scrollbar-track {
  background: #2e2e2e; 
}

.dark::-webkit-scrollbar-thumb {
  background-color: #838181; 
  border-radius: 6px; 
  border: 3px solid #2e2e2e; 
} 
