.dark::-webkit-scrollbar {
  width: 14px; /* Adjust the width of the scrollbar */
}

.dark::-webkit-scrollbar-track {
  background: #2e2e2e; /* The track of the scrollbar */
}

.dark::-webkit-scrollbar-thumb {
  background-color: #838181; /* The handle of the scrollbar */
  border-radius: 6px; /* Optional: for rounded corners */
  border: 3px solid #2e2e2e; /* Same as scrollbar-track, creating a uniform look */
} 
