.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #3c4a8e;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-me {
  scroll-margin-top: 100px;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.about-me-content .divisor {
  display: none;
}

.about-me-content p {
  padding: 5px 1.3em;
}

.how-it-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 1.5em;
  }
}

.how-it-going {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 1.5em;
  }
}

@media (max-width: 800px) {
  .about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  } 
  .about-me-content .divisor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }

  .about-me-content .divisor span {
    display: inline-block;
    border: 2px solid black;
    margin: 1em 0;
    width: 55%;
  }

  .about-me-content p {
    padding: px 1em;
    max-width: 100%;
    word-wrap: break-word;
  }

  .about-me-content .how-it-going {
    padding: 1em 1em;
  }
}

// @media (max-width: 640px) {
//   .icons-container{

//     //justify-content: center;
//   }
// }

.icons-container {
  display: flex;
  flex-direction: row;
  line-height: 5px;
  flex-wrap: wrap;
  padding-bottom: 2em;
  //padding-top: 10px;
  //align-self: center;
  justify-content: center;
}

.icon-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0.5em 0.5em;
  height: 75px;
  width: 75px;
  background: #162052;
  color: white;

  &:hover .icon-tooltip {
    visibility: visible;
    opacity: 1;
  }
  
}

.icon-tooltip {
  position: absolute;
  top: 100%; 
  left: 50%; 
  transform: translateX(-50%) translateY(-1px); 
  visibility: hidden; 
  opacity: 0; 
  transition: visibility 0s, opacity 0.5s linear, transform 0.5s; 
  text-align: center;
  border-radius: 3px;
  z-index: 2; 
  white-space: nowrap; 
  margin-top: 5px;

  p {
    margin: 8px 0px;
  }
}

.icon-label {
  font-size: 2.75em;
}

.how-it-started, .how-it-going {
  overflow: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.how-it-started p, .how-it-going p {
 
  flex: 1; 
  //keep paragraphs at the same height
}
