.about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #3c4a8e;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.about-me-content span {
  border: 1px solid black;
  height: 3em;
}

.how-it-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-it-going {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 740px) {
  .about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  } 

  .about-me-content span {
    display: inline-block;
    border: 1px solid black;
    width: 75%;
    height: 0;
  }

  .about-me-content p {
    padding: 1em 1em;
  }
}